# requirements.txt – kompatibel mit Python 3.11 & 3.12 (Streamlit Cloud 2026)

streamlit>=1.38.0,<1.55.0
pillow>=10.0,<11.0

# Stabil & kompatibel mit Teachable Machine .h5 Dateien
tensorflow-cpu==2.15.0
# Alternativen zum Testen (falls 2.15 nicht lädt):
# tensorflow-cpu==2.12.0
# tensorflow-cpu==2.16.1
